.grid_container{

    margin: 30px 20px 30px 20px;
}



.section1{

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.logo{

    height: fit-content;
    width: 90px;
    padding-left: 50px;
    
}



.content_info{

    padding: 50px;
    width: 500px;
    font-family:Open Sans
    ;
}
.heading{
    font-size: 20px;

}
.inputbox{

    padding: 8px 35px 8px 12px;
}

button{

    padding: 8px 32px 8px 32px;
    color: white;
    font-size: 14px;
    border: none;
    background-color: blue;

    
}

.img2{

    height: 400px;
    width: 400px;
    object-fit: cover;
    margin-left: 150px;
    margin-top: 50px;
    height: fit-content;
}

.nav{

    display: flex;
    list-style-type:none;
    padding-right: 150px;
    text-indent:25px;
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;


}



.section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:100px ;

   


}

.contentinfo2{
    padding: 50px;
    width: 600px;
    font-family:Open Sans
    ;

    

}

.img3{

        height: 400px;
        width: 400px;
        object-fit: cover;
        margin-left: 70px;
        margin-top: 120px;
        height: fit-content;
        padding-right: 130px;
    
}

.quate{

  
    width: 325px;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(248, 248, 246);
    border-radius: 5px;
}

.profile{
    display: flex;


}

.profileimg{

    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
    align-items: flex-start;
    margin-right: 10px;
}


.undertext{

    color: rgb(6, 105, 49);
}


.section3{

    background-color:  hsl(238, 22%, 44%);
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}


.ok1{


    width: 350px;
    margin-top: 10px;
    color: white;
}
.ok1>h4{

    margin-bottom: 0px;
}
.ok1>p{

    margin-top: 10px;
}
.ok2{

 
    width: 405px;
}

.inputbox2{

    height: 35px;
    width: 400px;
}

.btnend{

    margin-top: 10px;
    height: 45px;
    width: 210px;
    
}

.footersection{

    background-color: hsl(243, 87%, 12%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px;
   




}



.part2,.part3,.socialicon{

    list-style: none;
    padding-top: 50px;
    line-height: 25px;
    color: white;
}


.icon{

    width: 20px;
    height: 20px;
    color: white;
   
}

.icon1,.icon2{

    display: flex;
    align-items: center;
    text-indent: 10px;
    color: white;
    margin-left: 40px;
    margin-top: 20px;

    
}

.icon1{

    height: 10px;
}
.icon2{
    margin-top: 0px;
}
.socialicon{

    width: 25px;
}
.part4{

    word-spacing: 07px;
}


@media only screen and (max-width: 600px) {

    .nav{

        display: flex;
        list-style-type:none;
        text-indent:25px;
    }

    .logo{

        padding-left: 5px;
    }


    .section1{

    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    }

    .img2{

        height: 300px;
        width: 300px;
        object-fit: cover;
        margin-left: 50px;
        margin-top: 50px;
        height: fit-content;
    }

    .content_info{

        
        width: 350px;
        font-family:Open Sans
        ;
    }

    .inputbox{

        display: block;
        
    }

    .button{

        
    }

    .contentinfo2{
      
        width: 400px;
        font-family:Open Sans
        ;
    
        
    
    }

    .section3{

        background-color:  hsl(238, 22%, 44%);
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: space-around;
    }

    .inputbox2{

        height: 35px;
        width: 240px;
    }
    
    .btnend{
    
     
        height: 40px;
        width: 249px;
        
    }

    
    .footersection{
    
        background-color: hsl(243, 87%, 12%);
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
       
    
    
    
    
    }

    .section2{
        display: grid;
        grid-template-columns: 1fr;
        margin-top:100px ;
    
       
    
    
    }
    


    .grid_container{
        
        width:100%;

   




        }



    
    
    



   


}